body {
    margin: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    vertical-align: middle;
    
    font-family: "ahamono-regular","Helvetica Neue",
        Helvetica,sans-serif, "Exo", sans-serif;
    /*    font-family: "Menlo", "Meslo LG", monospace; */
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e,#23a6d5,  #23d5c6);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    border-radius: 50px;
    font-size: 150%;
    -webkit-text-stroke: 2px orange;
}

abbr {
  display: inline;
  padding: 35px;
}

fieldset {
    text-align: center;
}

input {
    border-radius: 25rem;
}

input:hover {
    background-color: #ffccff;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

form{
    border-radius: 50px;
    margin: 20px;
    
}

form fieldset p {
    display:inline;
    text-align: left;
}

.align {
    margin: auto;
    width: 50%;
    text-align: left;
    padding: 10px;
}

.circle img {
    border-radius: 50%;
}

p {
    text-align: left;
}

fieldset p {
    text-align: left;
}

img {
    border-radius: 50%;
}

::selection {
    background-color: rgba(228, 99, 82, 1);
    color: white;
}
